<nav aria-label="Page navigation" class="w-100">
  <ul class="pagination justify-content-center mb-0">
    <li class="page-item" [class.disabled]="currentPage === 0">
      <button class="page-link" (click)="goToPage(0)" aria-label="First">
        <span aria-hidden="true">&laquo;&laquo;</span>
      </button>
    </li>

    <li class="page-item" [class.disabled]="currentPage === 0">
      <button class="page-link" (click)="previousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>

    <li
      class="page-item"
      *ngFor="let page of visiblePageNumbers()"
      [class.active]="page === currentPage"
      [class.disabled]="!isNumber(page)"
    >
      <ng-container *ngIf="isNumber(page); else ellipsis">
        <span
          class="page-link"
          *ngIf="page === currentPage"
          aria-current="page"
        >
          {{ page + 1 }}
        </span>
        <button
          class="page-link"
          *ngIf="page !== currentPage"
          (click)="goToPage(page)"
        >
          {{ page + 1 }}
        </button>
      </ng-container>
      <ng-template #ellipsis>
        <span class="page-link">&hellip;</span>
      </ng-template>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
      <button class="page-link" (click)="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
      <button
        class="page-link"
        (click)="goToPage(totalPages - 1)"
        aria-label="Last"
      >
        <span aria-hidden="true">&raquo;&raquo;</span>
      </button>
    </li>
  </ul>
</nav>
