<mat-horizontal-stepper
  [linear]="true"
  (selectionChange)="onStepChange($event)"
>
  <mat-step label="Task Info" [stepControl]="taskForm">
    <div matDialogContent>
      <div
        *ngIf="errorStates.updateTask && !isLoading"
        class="alert alert-danger text-center"
      >
        {{ errorStates.updateTask }}
      </div>

      <div
        *ngIf="errorStates.reassignTask && !isLoading"
        class="alert alert-danger text-center"
      >
        {{ errorStates.reassignTask }}
      </div>

      <form [formGroup]="taskForm">
        <div class="mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            (keydown)="preventInitialSpace($event)"
            formControlName="name"
            required
            (input)="onInput('name')"
            autocomplete="off"
          />
          <small>
            <span
              *ngIf="
                taskForm.get('name')?.touched && taskForm.get('name')?.invalid
              "
            >
              <i class="fa fa-times"></i>
              <span *ngIf="taskForm.get('name')?.errors?.['required']">
                Task name is required.
              </span>
              <span *ngIf="taskForm.get('name')?.errors?.['minlength']">
                Task name is too short.
              </span>
              <span *ngIf="taskForm.get('name')?.errors?.['maxlength']">
                Task name is too long.
              </span>
            </span>
            <span
              *ngIf="
                taskForm.get('name')?.touched && taskForm.get('name')?.valid
              "
            >
              <i class="fa fa-check"></i> Task name is valid.
            </span>
          </small>
        </div>

        <div class="mb-5 d-flex flex-column">
          <label for="description">Description</label>
          <textarea
            id="description"
            class="form-control"
            (keydown)="preventInitialSpace($event)"
            formControlName="description"
            required
            (input)="onInput('description')"
            style="resize: none; height: 100px"
            autocomplete="off"
          ></textarea>
          <small>
            <span
              *ngIf="
                taskForm.get('description')?.touched &&
                taskForm.get('description')?.invalid
              "
            >
              <i class="fa fa-times"></i>
              <span *ngIf="taskForm.get('description')?.errors?.['required']">
                Description is required.
              </span>
              <span *ngIf="taskForm.get('description')?.errors?.['minlength']">
                Description is too short.
              </span>
              <span *ngIf="taskForm.get('description')?.errors?.['maxlength']">
                Description is too long (max 255 characters).
              </span>
            </span>
            <span
              *ngIf="
                taskForm.get('description')?.touched &&
                taskForm.get('description')?.valid
              "
            >
              <i class="fa fa-check"></i> Description is valid.
            </span>
          </small>
        </div>

        <div class="mb-3">
          <label for="priorityDropdown">Priority</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select
              id="prioritySelect"
              [placeholder]="selectedPriorityLabel"
              [value]="selectedPriorityLabel"
              (selectionChange)="onPrioritySelected($event.value)"
              style="text-align: center"
            >
              <mat-option
                class="text-center"
                *ngFor="let p of priorities"
                [value]="p"
              >
                {{ p }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <small>
            <span
              *ngIf="
                taskForm.get('priority')?.touched &&
                taskForm.get('priority')?.invalid
              "
            >
              <i class="fa fa-times"></i> Priority is required.
            </span>
            <span
              *ngIf="
                taskForm.get('priority')?.touched &&
                taskForm.get('priority')?.valid
              "
            >
              <i class="fa fa-check"></i> Priority is valid.
            </span>
          </small>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="startMonthDropdown">Start Date</label>
            <div class="d-flex">
              <mat-form-field
                appearance="outline"
                class="me-2 fixed-width-dropdown"
              >
                <mat-select
                  id="startYearSelect"
                  [placeholder]="selectedStartYearLabel || 'YYYY'"
                  [value]="selectedStartYearLabel"
                  (selectionChange)="onStartYearSelected($event.value)"
                  style="font-size: small"
                  disabled
                >
                  <mat-option *ngFor="let year of yearsList" [value]="year">
                    {{ year }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="me-2 fixed-width-dropdown"
              >
                <mat-select
                  id="startMonthSelect"
                  [placeholder]="selectedStartMonthLabel || 'MM'"
                  [value]="selectedStartMonthLabel"
                  (selectionChange)="onStartMonthSelected($event.value)"
                  style="font-size: small"
                  disabled
                >
                  <mat-option *ngFor="let month of months" [value]="month">
                    {{ month }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="fixed-width-dropdown">
                <mat-select
                  id="startDaySelect"
                  [placeholder]="selectedStartDayLabel || 'DD'"
                  [value]="selectedStartDayLabel"
                  (selectionChange)="onStartDaySelected($event.value)"
                  style="font-size: small"
                  disabled
                >
                  <mat-option
                    *ngFor="let day of daysInStartMonth"
                    [value]="day"
                  >
                    {{ day }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <small class="d-flex flex-column">
              <span>
                <i class="fa fa-info"></i> Start date cannot be changed for an
                ongoing task.
              </span>
            </small>
          </div>

          <div class="col-md-6 mb-3">
            <label for="dueMonthDropdown">Due Date</label>
            <div class="d-flex">
              <mat-form-field
                appearance="outline"
                class="me-2 fixed-width-dropdown"
              >
                <mat-select
                  id="dueYearSelect"
                  [placeholder]="selectedDueYearLabel"
                  [value]="selectedDueYearLabel"
                  (selectionChange)="onDueYearSelected($event.value)"
                  (click)="onInput('dueYear')"
                  [disabled]="
                    taskForm.hasError('startBeforeProjectStartDate') ||
                    taskForm.hasError('startAfterProjectDueDate') ||
                    !isStartDateValid()
                  "
                  style="font-size: small"
                >
                  <mat-option *ngFor="let year of yearsList" [value]="year">
                    {{ year }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="me-2 fixed-width-dropdown"
              >
                <mat-select
                  id="dueMonthSelect"
                  [placeholder]="selectedDueMonthLabel"
                  [value]="selectedDueMonthLabel"
                  (selectionChange)="onDueMonthSelected($event.value)"
                  (click)="onInput('dueMonth')"
                  [disabled]="
                    taskForm.hasError('startBeforeProjectStartDate') ||
                    taskForm.hasError('startAfterProjectDueDate') ||
                    !isStartDateValid()
                  "
                  style="font-size: small"
                >
                  <mat-option *ngFor="let month of months" [value]="month">
                    {{ month }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="fixed-width-dropdown">
                <mat-select
                  id="dueDaySelect"
                  [placeholder]="selectedDueDayLabel"
                  [value]="selectedDueDayLabel"
                  (selectionChange)="onDueDaySelected($event.value)"
                  (click)="onInput('dueDay')"
                  [disabled]="
                    taskForm.hasError('startBeforeProjectStartDate') ||
                    taskForm.hasError('startAfterProjectDueDate') ||
                    !isStartDateValid()
                  "
                  style="font-size: small"
                >
                  <mat-option *ngFor="let day of daysInDueMonth" [value]="day">
                    {{ day }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <small>
              <span
                *ngIf="
                  !taskForm.get('dueYear')?.touched ||
                  !taskForm.get('dueMonth')?.touched ||
                  !taskForm.get('dueDay')?.touched
                "
              >
                Please select a due date.
              </span>

              <span
                *ngIf="
                  taskForm.get('dueYear')?.valid &&
                  taskForm.get('dueMonth')?.valid &&
                  taskForm.get('dueDay')?.valid &&
                  !taskForm.hasError('dueBeforeStart') &&
                  !taskForm.hasError('dueAfterProjectDueDate')
                "
              >
                <i class="fa fa-check"></i> Due date is valid.
              </span>
              <span *ngIf="taskForm.hasError('dueBeforeStart')">
                <i class="fa fa-times"></i> Due date must be after the start
                date.
              </span>
              <span *ngIf="taskForm.hasError('dueAfterProjectDueDate')">
                <i class="fa fa-times"></i> Due date must be before the project
                due date.
              </span>
            </small>
          </div>
        </div>
      </form>
    </div>

    <div matDialogActions>
      <button mat-button matDialogClose [disabled]="isLoading">Close</button>
      <button
        mat-button
        matStepperNext
        [disabled]="!taskForm.valid || isLoading"
        (click)="onEditFirstPartTask()"
      >
        Next
      </button>
    </div>
  </mat-step>

  <mat-step label="Reassign Task">
    <div matDialogContent>
      <div
        *ngIf="errorStates.updateTask && !isLoading"
        class="alert alert-danger text-center"
      >
        {{ errorStates.updateTask }}
      </div>

      <div
        *ngIf="errorStates.reassignTask && !isLoading"
        class="alert alert-danger text-center"
      >
        {{ errorStates.reassignTask }}
      </div>

      <div
        class="d-flex flex-column align-items-center justify-content-center p-2 gap-2"
        *ngIf="!reassignUser"
      >
        <button mat-raised-button (click)="reassignUser = true">
          Reassign Task
        </button>

        <span class="mx-2">or</span>

        <button mat-raised-button (click)="onSubmit()">Complete Update</button>
      </div>

      <div *ngIf="reassignUser">
        <app-team-members-table
          [teamId]="this.data.teamId"
          [multiSelect]="false"
          (teamMembersSelected)="onTeamMemberSelected($event)"
        ></app-team-members-table>

        <div class="d-flex align-items-center justify-content-center">
          <button
            mat-raised-button
            (click)="reassignUser = false; selectedTeamMemberIds = []"
            class="align-self-center"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>

    <div matDialogActions>
      <button mat-button matDialogClose [disabled]="isLoading">Close</button>
      <button mat-button matStepperPrevious [disabled]="isLoading">Back</button>
      <button
        mat-button
        *ngIf="reassignUser"
        [disabled]="selectedTeamMemberIds.length === 0 || isLoading"
        (click)="onSubmit()"
      >
        <span *ngIf="!isLoading">Complete</span>
        <span *ngIf="isLoading">
          <mat-spinner [diameter]="24"></mat-spinner>
        </span>
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
