<div class="container-fluid p-5 d-flex flex-column min-vh-100">
  <div class="mb-5">
    <div class="d-flex align-items-center justify-content-center mb-2">
      <h2 class="text-center">Users</h2>
    </div>
    <app-users-table
      (reloadProjectsTable)="onReloadProjectsTable()"
    ></app-users-table>
  </div>

  <div class="mb-5">
    <h2 class="text-center mb-2">Teams</h2>
    <app-teams-table
      (reloadProjectsTable)="onReloadProjectsTable()"
    ></app-teams-table>
  </div>

  <div class="mb-5">
    <h2 class="text-center mb-2">Projects</h2>
    <app-projects-table></app-projects-table>
  </div>
</div>
