/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #d8f2e6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #6dff87;
  border-radius: 10px;
  border: 2px solid #6dff87;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}
