.high-priority {
  color: #f44336;
}

.medium-priority {
  color: #ffae35;
}

.low-priority {
  color: #00c224;
}

.medium-priority, .low-priority, .high-priority {
  font-weight: 550;
}

.not-started-circle {
  animation: fadeInOut 3s infinite;
  font-size: 24px;
  color: #9e9e9e;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.in-progress-circle {
  animation: pulse 3s infinite;
  font-size: 24px;
  color: rgb(255, 186, 47);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.completed-circle {
  animation: rotate 2s linear infinite;
  font-size: 24px;
  color: #00c224;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cancelled-circle {
  animation: blink 1s infinite;
  font-size: 24px;
  color: #f44336;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
